@media print,
(max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 13px;
        --font_size_title: 18px;
    }


    .cont
    {
        padding: 0 20px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 20px;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header .logo img
    {
        height: 36px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head .data
    {
        min-height: 220px;
        padding: 24px;
    }


    .page_head .data .col
    {
        width: 100%;
    }


    .page_head .data .col + .col
    {
        margin-top: 30px;
        padding-left: 16px;
    }


    .page_head .icon
    {
        width: 40px;
        height: 40px;
    }


    .page_head .name
    {
        font-size: 22px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .submit
    {
        display: flex;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: center;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .data
    {
        order: 2;

        width: 100%;
        min-height: 0;
        margin-top: 20px;
        padding: 20px;
    }


    .first_section .btn
    {
        margin-top: 24px;
    }


    .first_section .image
    {
        width: 100%;
        height: auto;
        padding-bottom: 71.527%;
    }



    /*----------------
        About head
    ----------------*/
    .about_head
    {
        padding: 40px 20px;
    }



    /*-----------------
        Core Values
    -----------------*/
    .core_values .row > *
    {
        width: calc(50% - 20px);
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .block_desc
    {
        margin-bottom: 24px;
    }


    .advantages .row
    {
        margin-left: 0;
    }


    .advantages .row > *
    {
        width: 100%;
        margin-left: 0;
    }



    /*--------------
        Benefits
    --------------*/
    .benefits .item,
    .benefits .item.big
    {
        margin-top: 26px;
    }


    .benefits .item .icon
    {
        top: -28px;

        width: 52px;
        height: 52px;
    }



    /*--------------
        Services
    --------------*/
    .services .service .data
    {
        order: 2;

        width: 100%;
        min-height: 0;
        margin-top: 10px;
        padding: 18px;
    }


    .services .service .link
    {
        padding-top: 24px;
    }


    .services .service .image
    {
        width: 100%;
        height: auto;
        padding-bottom: 56.597%;
    }



    /*-------------------
        Why choose us
    -------------------*/
    .why_choose_us .head .title
    {
        width: 100%;
    }


    .why_choose_us .head .desc
    {
        width: 100%;
        margin-top: 30px;
        padding: 10px 0 10px 13px;
    }


    .why_choose_us .item .info
    {
        padding: 16px;
    }



    /*--------------
        Projects
    --------------*/
    .projects .block_head
    {
        margin-bottom: 30px;
    }



    .projects .project .data
    {
        order: 2;

        width: 100%;
        margin-top: 30px;
        padding: 0;
    }


    .projects .project .images
    {
        width: 100%;
    }



    /*--------------
        Feedback
    --------------*/
    .feedback .item .photo
    {
        width: 126px;
        height: 126px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .row
    {
        margin-left: 0;
    }


    .articles .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .articles .article .thumb
    {
        margin-bottom: 10px;
    }


    .articles .article .info
    {
        padding: 18px;
    }


    .articles .article .link
    {
        padding-top: 24px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .data
    {
        width: 100%;
    }


    .contacts_info .data .text
    {
        padding: 20px;
    }


    .contacts_info .feedback_form
    {
        width: 100%;
        margin-top: 30px;
        padding: 28px 18px;
    }



    /*-----------
        Steps
    -----------*/
    .steps .row.small
    {
        margin-left: -30px;
    }


    .steps .row > *,
    .steps .row.small > *,
    .steps .row.big > *
    {
        width: calc(50% - 30px);
        margin-left: 30px;
    }


    .steps .big .step .name
    {
        font-size: 14px;
    }


    .steps .message
    {
        padding: 20px;
    }


    .steps .message .icon
    {
        display: none;
    }


    .steps .message .icon + *
    {
        width: 100%;
    }



    /*-------------
        Clients
    -------------*/
    .clients .row
    {
        margin-left: -10px;
    }


    .clients .row > *
    {
        width: calc(25% - 10px);
        margin-left: 10px;
    }


    .clients .item
    {
        height: 64px;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block
    {
        padding-top: 0;
    }


    .action_block .data
    {
        width: 100%;
    }


    .action_block .icon
    {
        width: 60px;
        height: 60px;
        margin-bottom: 60px;
    }


    .action_block .link
    {
        margin-top: 60px;
    }

    .action_block .desc.mob_big + .link
    {
        margin-top: 30px;
    }


    .action_block .bg
    {
        position: relative;

        width: 100%;
        height: 401px;
        margin-bottom: 60px;
    }



    /*------------------------
        Approach to design
    ------------------------*/
    .approach_to_design .row .title
    {
        width: 100%;
    }


    .approach_to_design .row .desc
    {
        width: 100%;
        margin-top: 30px;
        padding: 0 0 0 16px;
    }



    /*-------------------
        Why metalwork
    -------------------*/
    .why_metalwork .message
    {
        padding: 20px;
    }


    .why_metalwork .message .icon
    {
        display: none;
    }


    .why_metalwork .message .icon + *
    {
        width: 100%;
    }


    .why_metalwork .row .title
    {
        width: 100%;
    }


    .why_metalwork .row .desc
    {
        width: 100%;
        margin-top: 30px;
        padding: 0 0 0 16px;
    }



    /*-----------------
        Dev process
    -----------------*/
    .dev_process .item,
    .dev_process .item.big
    {
        margin-top: 26px;
    }


    .dev_process .item .icon
    {
        top: -28px;

        width: 52px;
        height: 52px;
    }


    .dev_process .message
    {
        padding: 20px;
    }


    .dev_process .message .icon
    {
        display: none;
    }


    .dev_process .message .icon + *
    {
        width: 100%;
    }



    /*------------------------
        Transport fixtures
    ------------------------*/
    .transport_fixtures .row .title
    {
        width: 100%;
    }


    .transport_fixtures .row .desc
    {
        width: 100%;
        margin-top: 30px;
        padding: 0 0 0 16px;
    }



    /*----------------
        Info block
    ----------------*/
    .info_block .data
    {
        order: 2;

        width: 100%;
        margin-top: 60px;
    }


    .info_block .image
    {
        width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
    }



    /*-----------------------
        Reliable clamping
    -----------------------*/
    .reliable_clamping .row .title
    {
        width: 100%;
    }


    .reliable_clamping .row .desc
    {
        width: 100%;
        margin-top: 30px;
        padding: 0 0 0 16px;
    }



    /*-----------------------
        Quality standards
    -----------------------*/
    .quality_standards .row > *
    {
        width: calc(50% - 20px);
    }


    .quality_standards .item
    {
        margin-top: 26px;
    }


    .quality_standards .item .number
    {
        font-size: 14px;

        top: -28px;

        width: 52px;
        height: 52px;
    }


    .quality_standards .message
    {
        padding: 20px;
    }


    .quality_standards .message .icon
    {
        display: none;
    }


    .quality_standards .message .icon + *
    {
        width: 100%;
    }



    /*-------------------------------------
        Optimizing production processes
    -------------------------------------*/
    .optimizing_production_processes .row .title
    {
        width: 100%;
    }


    .optimizing_production_processes .row .desc
    {
        width: 100%;
        margin-top: 30px;
        padding: 0 0 0 16px;
    }



    /*------------------------------
        Machine tooling fixtures
    ------------------------------*/
    .machine_tooling_fixtures .info .title
    {
        width: 100%;
    }


    .machine_tooling_fixtures .info .desc
    {
        width: 100%;
        margin-top: 30px;
        padding: 0 0 0 16px;
    }


    .machine_tooling_fixtures .row > *
    {
        width: calc(50% - 20px);
    }


    .machine_tooling_fixtures .item
    {
        margin-top: 26px;
    }


    .machine_tooling_fixtures .item .number
    {
        font-size: 14px;

        top: -28px;

        width: 52px;
        height: 52px;
    }



    /*----------------------------
        Why our service better
    ----------------------------*/
    .why_our_service_better
    {
        padding-top: 0 !important;
    }


    .why_our_service_better .data
    {
        width: 100%;
    }


    .why_our_service_better .bg
    {
        position: relative;

        width: 100%;
        height: 401px;
        margin-bottom: 60px;
    }



    /*---------------------
        What is service
    ---------------------*/
    .what_is_service
    {
        padding-top: 0 !important;
    }


    .what_is_service .data
    {
        width: 100%;
    }


    .what_is_service .bg
    {
        position: relative;

        width: 100%;
        height: 401px;
        margin-bottom: 60px;
    }



    /*---------------------
        Service support
    ---------------------*/
    .service_support .row .title
    {
        width: 100%;
    }


    .service_support .row .desc
    {
        width: 100%;
        margin-top: 30px;
        padding: 0 0 0 16px;
    }



    /*---------------------------
        Fixtures divided into
    ---------------------------*/
    .fixtures_divided_into
    {
        padding-top: 0 !important;
    }


    .fixtures_divided_into .data
    {
        width: 100%;
    }


    .fixtures_divided_into .bg
    {
        position: relative;

        width: 100%;
        height: 401px;
        margin-bottom: 60px;
    }



    /*--------------------------------
        Universal milling fixtures
    --------------------------------*/
    .universal_milling_fixtures .row > *
    {
        width: calc(50% - 20px);
    }


    .universal_milling_fixtures .item
    {
        margin-top: 26px;
    }


    .universal_milling_fixtures .item .number
    {
        font-size: 14px;

        top: -28px;

        width: 52px;
        height: 52px;
    }


    .universal_milling_fixtures .message
    {
        padding: 20px;
    }


    .universal_milling_fixtures .message .icon
    {
        display: none;
    }


    .universal_milling_fixtures .message .icon + *
    {
        width: 100%;
    }



    /*-----------------
        Custom cams
    -----------------*/
    .custom_cams .row > *
    {
        width: calc(50% - 20px);
    }



    /*---------------------------
        Optimizing production
    ---------------------------*/
    .optimized_production .row .title
    {
        width: 100%;
    }


    .optimized_production .row .desc
    {
        width: 100%;
        margin-top: 30px;
        padding: 0 0 0 16px;
    }



    /*----------------
        Guarantees
    ----------------*/
    .guarantees .row > *
    {
        width: calc(50% - 20px);
    }



    /*----------------
        About info
    ----------------*/
    .about_info
    {
        padding-top: 0 !important;
    }


    .about_info .data
    {
        order: 2;

        width: 100%;
        margin-top: 30px;
    }


    .about_info .image
    {
        width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
    }



    /*---------------------------------
        What is an assembly fixture
    ---------------------------------*/
    .what_is_assembly_fixture .title
    {
        width: 100%;
    }


    .what_is_assembly_fixture .desc
    {
        width: 100%;
        margin-top: 30px;
        padding: 0 0 0 16px;
    }



    /*-----------------
        Advantages2
    -----------------*/
    .advantages2 .row
    {
        margin-left: 0;
    }


    .advantages2 .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .advantages2 .item
    {
        margin-top: 26px;
    }


    .advantages2 .item .number
    {
        font-size: 14px;

        top: -28px;

        width: 52px;
        height: 52px;
    }



    /*-------------------------------
        Flexibility in production
    -------------------------------*/
    .flexibility_in_production .title
    {
        width: 100%;
    }


    .flexibility_in_production .desc
    {
        width: 100%;
        margin-top: 30px;
        padding: 0 0 0 16px;
    }



    /*-----------------------------------------
        Classification of assembly fixtures
    -----------------------------------------*/
    .classification_assembly_fixtures
    {
        padding-top: 0 !important;
    }


    .classification_assembly_fixtures .bg
    {
        position: relative;

        width: 100%;
        height: 401px;
        margin-bottom: 60px;
    }


    .classification_assembly_fixtures .block_head
    {
        width: 100%;
    }



    /*--------------------------
        What is assembly jig
    --------------------------*/
    .what_is_assembly_jig .item
    {
        margin-top: 26px;
    }


    .what_is_assembly_jig .item .number
    {
        font-size: 14px;

        top: -28px;

        width: 52px;
        height: 52px;
    }



    /*----------------------------
        Benefits assembly jigs
    ----------------------------*/
    .benefits_assembly_jigs
    {
        padding-top: 0 !important;
    }


    .benefits_assembly_jigs .bg
    {
        position: relative;

        width: 100%;
        height: 401px;
        margin-bottom: 60px;
    }


    .benefits_assembly_jigs .data
    {
        width: 100%;
    }


    .benefits_assembly_jigs ul li:before
    {
        top: 1px;
    }



    /*--------------------
        What is tilter
    --------------------*/
    .what_is_tilter .title
    {
        width: 100%;
    }


    .what_is_tilter .desc
    {
        width: 100%;
        margin-top: 30px;
        padding: 0 0 0 16px;
    }



    /*----------------------
        Types of tilters
    ----------------------*/
    .types_tilters
    {
        padding-top: 0 !important;
    }


    .types_tilters .bg
    {
        position: relative;

        width: 100%;
        height: 401px;
        margin-bottom: 60px;
    }


    .types_tilters .data
    {
        width: 100%;
    }


    .types_tilters ul li:before
    {
        top: 1px;
    }



    /*-------------------------
        Benefits of tilters
    -------------------------*/
    .benefits_tilters .row > *
    {
        width: calc(50% - 20px);
    }


    .benefits_tilters .item
    {
        margin-top: 26px;
    }


    .benefits_tilters .item .number
    {
        font-size: 14px;

        top: -28px;

        width: 52px;
        height: 52px;
    }



    /*--------------------------
        Stages of tilter dev
    --------------------------*/
    .stages .row > *
    {
        width: calc(50% - 20px);
    }


    .stages .item
    {
        margin-top: 26px;
    }


    .stages .item .icon
    {
        top: -28px;

        width: 52px;
        height: 52px;
    }


    .stages .item .number
    {
        font-size: 14px;

        top: -28px;

        width: 52px;
        height: 52px;
    }



    /*--------------------
        Why choose us2
    --------------------*/
    .why_choose_us2 .item .desc
    {
        font-size: var(--font_size);

        margin-top: 16px;
    }


    .why_choose_us2 .message
    {
        padding: 20px;
    }


    .why_choose_us2 .message .icon
    {
        display: none;
    }


    .why_choose_us2 .message .icon + *
    {
        width: 100%;
    }



    /*-------------------------
        Benefits of tilters
    -------------------------*/
    .benefits_tilters .item .name
    {
        font-size: 14px;
    }



    /*--------------------------
        Stages of tilter dev
    --------------------------*/
    .stages .item .name
    {
        font-size: 14px;
    }



    /*-----------------------------
        Applications of tilters
    -----------------------------*/
    .applications_tilters
    {
        padding-top: 0 !important;
    }


    .applications_tilters .bg
    {
        position: relative;

        width: 100%;
        height: 401px;
        margin-bottom: 60px;
    }


    .applications_tilters .data
    {
        width: 100%;
    }


    .applications_tilters ul li:before
    {
        top: 1px;
    }



    /*----------------
        Error page
    ----------------*/
    .error_page .code
    {
        font-size: 112px;
        line-height: 82px;
    }


    .error_page .you_can_try .label,
    .error_page .you_can_try .name,
    .error_page .you_can_try .desc,
    .error_page .you_can_try .link a
    {
        font-size: var(--font_size);
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .other_articles > * + *
    {
        margin-top: 30px;
    }


    .article_info .other_articles .article .link a
    {
        font-size: var(--font_size);
    }



    /*----------------
        About info
    ----------------*/
    .about_why_choose_us
    {
        padding-top: 0 !important;
    }


    .about_why_choose_us .bg
    {
        position: relative;

        width: 100%;
        height: 401px;
        margin-bottom: 60px;
    }


    .about_why_choose_us .data
    {
        width: 100%;
    }


    .about_why_choose_us ul li:before
    {
        top: 1px;
    }



    /*-------------------
        Main services
    -------------------*/
    .main_services .row
    {
        margin-left: 0;
    }


    .main_services .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .main_services .service
    {
        min-height: 0;
    }


    .main_services .service .link a
    {
        font-size: var(--font_size);
    }



    /*-------------------------
        What is welding jig
    -------------------------*/
    .what_is_welding_jig .title
    {
        width: 100%;
    }


    .what_is_welding_jig .desc
    {
        width: 100%;
        margin-top: 30px;
        padding: 0 0 0 16px;
    }



    /*--------------------------
        Types of welding jig
    --------------------------*/
    .types_welding_jig
    {
        padding-top: 0 !important;
    }


    .types_welding_jig .bg
    {
        position: relative;

        width: 100%;
        height: 401px;
        margin-bottom: 60px;
    }


    .types_welding_jig .data
    {
        width: 100%;
    }


    .types_welding_jig ul li:before
    {
        top: 1px;
    }



    /*--------------------------
        Benefits welding jig
    --------------------------*/
    .benefits_welding_jig .row > *
    {
        width: calc(50% - 20px);
    }


    .benefits_welding_jig .item
    {
        margin-top: 26px;
    }


    .benefits_welding_jig .item .number
    {
        font-size: 14px;

        top: -28px;

        width: 52px;
        height: 52px;
    }


    .benefits_welding_jig .item .name
    {
        font-size: 14px;
    }


    .benefits_welding_jig .item .desc
    {
        font-size: var(--font_size);

        margin-top: 16px;
    }



    /*-----------------------------
        What is welding fixture
    -----------------------------*/
    .what_is_welding_fixture .title
    {
        width: 100%;
    }


    .what_is_welding_fixture .desc
    {
        width: 100%;
        margin-top: 30px;
        padding: 0 0 0 16px;
    }



    /*--------------------------------
        Advantages welding fixture
    --------------------------------*/
    .advantages_welding_fixture
    {
        padding-top: 0 !important;
    }


    .advantages_welding_fixture .bg
    {
        position: relative;

        width: 100%;
        height: 401px;
        margin-bottom: 60px;
    }


    .advantages_welding_fixture .data
    {
        width: 100%;
    }


    .advantages_welding_fixture .icon
    {
        margin-bottom: 60px;
    }


    .advantages_welding_fixture .link
    {
        margin-top: 60px;
    }



    /*--------------------------------------------
        Choosing the right fixturing equipment
    --------------------------------------------*/
    .choosing_right_fixturing_equipment .item .desc
    {
        font-size: var(--font_size);

        margin-top: 16px;
    }


    .choosing_right_fixturing_equipment .notice,
    .choosing_right_fixturing_equipment .message
    {
        padding: 20px;
    }


    .choosing_right_fixturing_equipment .message .icon
    {
        display: none;
    }


    .choosing_right_fixturing_equipment .message .icon + *
    {
        width: 100%;
    }



    /*---------------------------------
        What is reverse engineering
    ---------------------------------*/
    .what_is_reverse_engineering .title
    {
        width: 100%;
    }


    .what_is_reverse_engineering .desc
    {
        width: 100%;
        margin-top: 30px;
        padding: 0 0 0 16px;
    }



    /*----------------------------------
        Where is reverse engineering
    ----------------------------------*/
    .where_is_reverse_engineering
    {
        padding-top: 0 !important;
    }


    .where_is_reverse_engineering .bg
    {
        position: relative;

        width: 100%;
        height: 401px;
        margin-bottom: 60px;
    }


    .where_is_reverse_engineering .block_head
    {
        width: 100%;
    }



    /*--------------------------------
        Schema reverse engineering
    --------------------------------*/
    .schema_reverse_engineering
    {
        display: none;
    }



    /*--------------------------------
        Equipment amd technologies
    --------------------------------*/
    .equipment_technologies
    {
        padding-top: 0 !important;
    }


    .equipment_technologies .bg
    {
        position: relative;

        width: 100%;
        height: 401px;
        margin-bottom: 60px;
    }


    .equipment_technologies .data
    {
        width: 100%;
    }


    .equipment_technologies ul li:before
    {
        top: 1px;
    }



    /*----------------------------------
        Benefits reverse engineering
    ----------------------------------*/
    .benefits_reverse_engineering .grid
    {
        display: block;
    }


    .benefits_reverse_engineering .grid > * + *
    {
        margin-top: 30px;
    }


    .benefits_reverse_engineering .item .desc
    {
        margin-top: 10px;
    }



    /*----------------------------------
        What is an aggregate_machine
    ----------------------------------*/
    .what_is_aggregate_machine .title
    {
        width: 100%;
    }


    .what_is_aggregate_machine .desc
    {
        width: 100%;
        margin-top: 30px;
        padding: 0 0 0 16px;
    }



    /*-----------------------------------
        Process of aggregate machines
    -----------------------------------*/
    .process_aggregate_machines .row > *
    {
        width: calc(50% - 20px);
    }


    .process_aggregate_machines .item
    {
        margin-top: 26px;
    }


    .process_aggregate_machines .item .icon
    {
        top: -28px;

        width: 52px;
        height: 52px;
    }


    .process_aggregate_machines .message
    {
        padding: 20px;
    }


    .process_aggregate_machines .message .icon
    {
        display: none;
    }


    .process_aggregate_machines .message .icon + *
    {
        width: 100%;
    }



    /*--------------------------------
        Technological capabilities
    --------------------------------*/
    .technological_capabilities .row
    {
        margin-left: 0;
    }


    .technological_capabilities .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .technological_capabilities .message
    {
        padding: 20px;
    }


    .technological_capabilities .message .icon
    {
        display: none;
    }


    .technological_capabilities .message .icon + *
    {
        width: 100%;
    }



    /*--------------
        Warranty
    --------------*/
    .warranty .message
    {
        padding: 20px;
    }


    .warranty .message .icon
    {
        display: none;
    }


    .warranty .message .icon + *
    {
        width: 100%;
    }



    /*---------------------------
        Modular machine tools
    ---------------------------*/
    .modular_machine_tools
    {
        padding-top: 0 !important;
    }


    .modular_machine_tools .bg
    {
        position: relative;

        width: 100%;
        height: 401px;
        margin-bottom: 60px;
    }


    .modular_machine_tools .data
    {
        width: 100%;
    }


    .modular_machine_tools ul li:before
    {
        top: 1px;
    }



    /*------------
        Footer
    ------------*/
    footer .logo img
    {
        height: 41px;
    }
}
